.logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
}


.header {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}